header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

header img{
    height: 3rem;
}

nav a{
    text-decoration: none;
    color: var(--text-color);
    margin: 0 1rem;
    font-family: var(--main-font);
    font-weight: 700;
}

nav a:hover{
    color: var(--main-color);
}

nav a:focus{
    color: var(--main-color);
}